.cover_h3 {
    color: #ffffff;
    text-align: left;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-left: 160px;
    line-height: 1.3em;
}

.cover_p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(255,255,255,.8);;
    margin-top: -10px;
    margin-left: 160px;
    line-height: 1.5em;
    margin-top: 15px;
    width: 55%;
    font-family: Verdana, sans-serif;
}

.cover_h3_p {
    margin-top: -220px;
}

.cover_h3_p_mob {
    margin-top: -220px;
}

.cover_h3_mob {
    color: #ffffff;
    text-align: left;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 1.1em;
}

.cover_p_mob {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: rgba(255,255,255,.8);;
    margin-top: -10px;
    margin-left: 10px;
    line-height: 1.2em;
    margin-top: 15px;
    width: 95%;
    font-family: Verdana, sans-serif;
}

.categories_course {
    margin-top: -50px;
    padding-left: 11%;
    padding-right: 11%;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.grid-container_courses_cover {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr;
    gap: 1px 1px;
    grid-template-areas: "icon desc";
}

.icon {
    grid-area: icon;
}

.desc {
    grid-area: desc;
}

.desc_h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #000000;
    margin-top: 5px;
    font-family: Verdana, sans-serif;
}

.desc p {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    margin-top: -10px;
    font-family: Verdana, sans-serif;
}

.grid-container_cover_categories {
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: "courses_count expert_cat lifetime_cat";
    gap: 15px 15px;
    border-radius: 5px;
    position:relative;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}

.courses_count {
    grid-area: courses_count;
    text-align: center;
    border-radius: 2px;
    background-color: #ffffff;
}

.courses_count p {
    font-size: 16px;
    color: #000000;
}

.expert_cat {
    grid-area: expert_cat;
    text-align: center;
    border-radius: 2px;
    background-color: #ffffff;
}

.expert_cat p {
    font-size: 16px;
    color: #000000;
}

.lifetime_cat {
    grid-area: lifetime_cat;
    text-align: center;
    border-radius: 2px;
    background-color: #ffffff;
}

.lifetime_cat p {
    font-size: 16px;
    color: #000000;
}

.popular_cover {
    text-align: center;
    padding: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    margin-top: 25px;
    font-family: Sans-serif;
}

@media (max-width: 575px) {
    .cover_h3_p {
        display: none;
    }
    .categories_course {
        margin-top: -90px;
    }
    .grid-container_cover_categories {
        background: #ffffff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr;
        grid-template-areas: "courses_count" "expert_cat" "lifetime_cat";
        gap: 1px 1px;
        border-radius: 5px;
        position:relative;
        box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
    }
    .desc_h2 {
        font-size: 17px;
        font-weight: 600;
    }
}

@media (min-width: 575px) {
    .cover_h3_p_mob {
        display: none;
    }
}